<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linkdin</title>
    <div class="profile">
          <h1 class="text-light"><a href="linkdin.html"></a></h1>
         <a href="https://www.linkedin.com/in/preeti-prajapat-9853041a8" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

</head>
<body>
    
</body>
</html>